:root {
  --mainColour: #239593;
  --secondaryColour: #C0DF34;
  --mainBackground: #E5EFF5;
  --secondaryBackground:#98A6BD;
}

*{
  font-family: 'Karla',
  sans-serif;
}
body{
  font-size: 16px;
  background-color:var(--mainBackground);
}
/* Upper Card Section  */
.upper-card{
  padding-left: 20px;
}
.main-title{
  color: var(--mainColour);
  font-weight: bold;
}
.description-title{
  color: var(--secondaryColour);
  
}
p{
  line-height: 0.5;
}

.card{
  border-radius: 10px;
  width: 40rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* End Upper Card Section  */

/* Lower Card Section  */
.lower-card{
  background-color: var(--mainColour);
  display: flex;
  /* padding-left: 20px; */
  justify-content:space-evenly  ;
}
/* .subscription{
  background-color: var(--mainColour);

}
.why-us{
    background-color: var(--mainColour);
} */
.sign-up{
  background-color: var(--secondaryColour);
  color: white;
}
.why-list{
  list-style: none;
}
.supb
/* End Lower Card Section  */